.image-hover-text {
    position: absolute;
    top: 0;
    color:#fff;
    background-color:rgba(0,0,10,1);
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 0;
    opacity: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;

}
.image-hover-text:hover {
    background-color:rgba(0,0,10,0);
    color:transparent;

}
}

img {
    z-index:1;
    display: none !important;

}


.wrapper {
    position: relative;
    padding: 0;
    width:100%;
    display:block;
}

.container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  align-items: flex-start;
}

.about{
  border-width: 7px !important;
  border-style: solid;
  border-color: black;
}
.main{
  margin-top: 10px;
  max-width: 90%;
  display: block;



}
#console{
  text-align: right;
  padding-right: 50px;
  padding-left: 15px;
  line-height: 30px;
}
#hello{
  padding-left: 15px;
  background-color: black;
  color:white;
  display: inline;
}

.about > h1{
  font-family: 'Londrina Sketch', cursive;
  font-size: 50px;
  letter-spacing: 5px;
}
.about >p{
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
  padding: 20px 25px 10px 25px;

}


.header-image{
  margin: 0 auto;
}
.londrina{
  font-family: 'Londrina Solid', cursive;
  font-size: 50px;
  color:black;
}
.squares{
  display: block;
  border-width: 7px 0px 0px 0px;
  border-color: black;
  border-style: solid;
  margin-left: 0px;
  margin-right: 0px;
}
.square1{

  width:33% - 7px;
  padding-top: 33%;
  background-color: #31c5f5;
  border-width: 0px 0px 0px 0px;
  border-color: black;
  border-style: solid;
}
.square2{
  width:33% - 7px;
  padding-top: 33%;
  background-color: #f3776f;
  border-width: 0px 0px 0px 7px;
  border-color: black;
  border-style: solid;
}
.square3{
  width:33% - 7px;
  padding-top: 33%;
  border-width: 0px 0px 0px 7px;
  border-color: black;
  border-style: solid;
  background-color: #ffe564;

}
.contact {
  margin-top:15px;
  padding-bottom: 50px;
  margin-bottom: 35px !important;
  border-width: 7px;
  border-color: black;
  border-style: solid;
}

a{
  text-decoration:none !important;
}

.logo:hover{
  color:#ddd;
}

.logo:visited{
  color:#ddd;
}
.icon{
  text-align: center !important;
  font-size: 25px;
  border-radius: 50px;
  border-style: solid;
  color:black;

}

#twitter:hover{
  color:#58A8E0;
}
#twitter{
padding: 11px 14px 11px 14px;
}
#github{
  padding: 12px 16px 12px 16px;
}
#facebook{
  padding: 11px 18px 11px 18px;
}
#facebook:hover{
  color:#33659A
}
#email{
  padding:11px 12px 11px 14px;
}
#email:hover{
  color:#DD4B39;
}
.icon:hover{
  color:#333333;
}
#linkedin{
  padding: 13px 17px 13px 17px;
}
#linkedin:hover{
  color:#0C7CB6;
}
/*
.navstyle{
  background-color: black !important;
  border-radius:0px !important;
}
.world{
  color: #9AD7D2;
}
.border{
  border: 2px solid black;
  margin:20px;
  padding:10px;
}
.atma{
  font-family: 'Atma', serif;
}

h4{
  font-size: 25px;
}
.handwritten{
  font-family: 'Indie Flower', cursive;
  color: black !important;
}

.handwritten-title{
  font-family: 'Indie Flower', cursive;
  color: black !important;
  font-size: 50px;
}


.logo{
  font-family: 'Londrina Sketch', cursive;
  color:white;
  font-size: 3em;
  border-radius: 3em;
  border-style: solid;
  border-color:white;
  padding:0px 10px 0px 10px;
}
.profile{
  border-style: solid;
  border-color:black;
}
.line{
  border-color:#333333 !important;
}
.navitem{
  text-align:center;
}
.button_center{
  margin-top:15px !important;
}
.space{
  margin-top: 90px;

}
.test{
  background-color: #ffff;
}
li{
  font-size:2em;
  padding:10px;
  color:white;
}
a{
  text-decoration:none !important;
}

.logo:hover{
  color:#ddd;
}

.logo:visited{
  color:#ddd;
}
.icon{
  text-align: center !important;
  font-size: 25px;
  border-radius: 50px;
  border-style: solid;
  color:black;

}

#twitter:hover{
  color:#58A8E0;
}
#twitter{
padding: 11px 14px 11px 14px;
}
#github{
  padding: 12px 16px 12px 16px;
}
#facebook{
  padding: 11px 18px 11px 18px;
}
#facebook:hover{
  color:#33659A
}
#email{
  padding:11px 12px 11px 14px;
}
#email:hover{
  color:#DD4B39;
}
.icon:hover{
  color:#333333;
}
#linkedin{
  padding: 13px 17px 13px 17px;
}
#linkedin:hover{
  color:#0C7CB6;
}

.image-hover-text {
    position: absolute;
    top: 0;
    color:#fff;
    background-color:rgba(0,0,10,0.6);
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;

}
.image-hover-text:hover {
    opacity:1;
}
}

img {
    z-index:1;
}

.wrapper {
    position: relative;
    padding: 0;
    width:100%;
    display:block;
}*/

@media (min-width: 380px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
   .main { flex: 2 0px;
     max-width: 100%;}
   .right{order:1 !important;}
   .left{order:2 !important;}

   #console{
     text-align: center!important;
     margin-right: 0px;
   }
   .right{
     margin-left: auto;
     margin-right: auto;
   }
   .square1{
     padding-top: 20%;
   }
   .square2{
     border: 0px;
     padding-top: 20%;
   }
   .square3{
     border:0px;
     padding-top: 20%;
   }

}

@media (max-width:380px) {
  .about > h1{
    font-family: 'Londrina Sketch', cursive;
    font-size: 35px;
    letter-spacing: 5px;
  }
  .about >p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
    padding: 20px 10px 10px 10px;

  }
  .icon{
    text-align: center !important;
    font-size: 15px;
    border-radius: 24px;
    border-style: solid;
    color:black;

  }
  .main{
    max-width: 70%;
  }
  .left{
    margin-left: -48%;
    margin-right: -48%;
  }
  .right{
    margin-left: -40%;
    margin-right: -40%;
  }
  .square1{
    padding-top: 20%;
  }
  .square2{
    border: 0px;
    padding-top: 20%;
  }
  .square3{
    border:0px;
    padding-top: 20%;
  }

}
