
.navstyle{
  background-color: black !important;
  border-radius:0px !important;
}
.world{
  color: #9AD7D2;
}
.atma{
  font-family: 'Atma', serif;
  

}
.handwritten{
  font-family: 'Indie Flower', cursive;
  color: black !important;
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.logo{
  font-family: 'Londrina Sketch', cursive;
  color:white;
  font-size: 3em;
  border-radius: 3em;
  border-style: solid;
  border-color:white;
  padding:0px 10px 0px 10px;
}
.profile{
  border-style: solid;
  border-color:black;
}
.line{
  border-color:#333333 !important;
}
.navitem{
  text-align:center;
}
.button_center{
  margin-top:15px !important;
}
.space{
  margin-top: 90px;

}
.test{
  background-color: #ffff;
}
li{
  font-family: 'Londrina Solid', cursive;
  font-size:2em;
  padding:10px;
  color:white;
}
a{
  text-decoration:none !important;
}

.logo:hover{
  color:#ddd;
}

.logo:visited{
  color:#ddd;
}
.icon{
  text-align: center !important;
  font-size: 25px;
  border-radius: 50px;
  border-style: solid;
  color:black;

}

#twitter:hover{
  color:#58A8E0;
}
#twitter{
padding: 11px 14px 11px 14px;
}
#github{
  padding: 12px 16px 12px 16px;
}
#facebook{
  padding: 11px 18px 11px 18px;
}
#facebook:hover{
  color:#33659A
}
#email{
  padding:11px 12px 11px 14px;
}
#email:hover{
  color:#DD4B39;
}
.icon:hover{
  color:#333333;
}
#linkedin{
  padding: 13px 17px 13px 17px;
}
#linkedin:hover{
  color:#0C7CB6;
}

@media (min-width: 768px) and (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}
