
.navstyle{
  background-color: black !important;
  border-radius:0px !important;
}

.logo{
  font-family: 'Londrina Sketch', cursive;
  color:white;
  font-size: 3em;
  border-radius: 3em;
  border-style: solid;
  border-color:white;
  padding:0px 10px 0px 10px;
}
.navitem{
  text-align:center;
}
.button_center{
  margin-top:15px !important;
}
.space{
  margin-top: 90px;
}
li{
  font-family: 'Londrina Solid', cursive;
  font-size:2em;
  padding:10px;
  color:white;
}
a{
  text-decoration:none !important;
}

.logo:hover{
  color:#ddd;
}
