
.handwritten{
  font-family: 'Indie Flower', cursive;
}
.main{
  display:block;
}
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
h5{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.inner{
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  min-height: 70%;
  display: flex;
  border: 3px solid black;
  margin-left:auto;
  margin-right: auto;
  background-color: rgba(255,255,255,0.5);


}

.mainButton{

  background-color: black;
  color:white;
  border-style: none;
  border-radius: 0px;
}

#startButton{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn:focus, .btn:active, .btn.active:focus {
  outline-style: solid  !important;
  outline-width: thin;
  outline-color:black;
  color:black;
  background-color: white

}

.bottom{
  max-height: 20% !important;

}

a{
  text-decoration:none !important;
}

.logo:hover{
  color:#ddd;
}

.logo:visited{
  color:#ddd;
}
.icon{
  text-align: center !important;
  font-size: 25px;
  border-radius: 50px;
  border-style: solid;
  color:white;

}

#twitter:hover{
  color:#58A8E0;
}
#twitter{
padding: 11px 13px 11px 13px;
}
#github{
  padding: 12px 15px 12px 15px;
}
#facebook{
  padding: 11px 18px 11px 18px;
}
#facebook:hover{
  color:#33659A
}
#email{
  padding:11px 12px 11px 14px;
}
#email:hover{
  color:#DD4B39;
}
.icon:hover{
  color:#333333;
}
#linkedin{
  padding: 12px 15px 12px 15px;
}
#linkedin:hover{
  color:#0C7CB6;
}
.made-with{
  color:white;
}
