
.handwritten{
  font-family: 'Indie Flower', cursive;
  color: 	#3cecc9;
}
.main{
  display:block;
}
.Signika{
  font-family: 'Signika', sans-serif;
  color: #000026;

}
.previous_answers{
  font-family: 'Open Sans', sans-serif;
  color: red;
  position: absolute;
  top:1%;
  right:1%;
}
.answers-font{
  font-family: 'Open Sans', sans-serif;
  color: #236692;
  font-size: 40px;

}
.numbers-font{
  font-family: 'Open Sans', sans-serif;
  color: #000026;
  font-size: 80px;
}
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
h5{
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  color: #236692;
}
.inner{
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  min-height: 70%;
  max-height: 90%;
  display: flex;
  margin-left:auto;
  margin-right: auto;
  background-color: rgba(255,255,255,0.8);


}

.mainButton{

  background-color: #5ec3e1;
  color:white;
  border-style: none;
  border-radius: 3px;
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
  font-weight: lighter;
}
.cabin-italic{
  font-family: 'Cabin', sans-serif;
  font-style: italic;
}
.questions{
  margin: auto;
  text-align: center !important;
}
input{
  border-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  border-bottom: 2px solid black;
  background-color: transparent;
  width: 300px;
}
input:focus, input:active, input.active:focus{
  outline-style: none;
}

#startButton{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#startButton:hover{
  color: white;
  background-color: #236692;
}
.btn:focus, .btn:active, .btn.active:focus {
  outline-style: solid  !important;
  outline-width: thin;
  outline-color:black;
  color:black;
  background-color: white

}

.bottom{
  max-height: 20% !important;

}

a{
  text-decoration:none !important;
}

.logo:hover{
  color:#ddd;
}

.logo:visited{
  color:#ddd;
}
.icon{
  text-align: center !important;
  font-size: 25px;
  border-radius: 50px;
  border-style: solid;
  color:white;

}

#twitter:hover{
  color:#58A8E0;
}
#twitter{
padding: 11px 13px 11px 13px;
}
#github{
  padding: 12px 15px 12px 15px;
}
#facebook{
  padding: 11px 18px 11px 18px;
}
#facebook:hover{
  color:#33659A
}
#email{
  padding:11px 12px 11px 14px;
}
#email:hover{
  color:#DD4B39;
}
.icon:hover{
  color:#333333;
}
#linkedin{
  padding: 12px 15px 12px 15px;
}
#linkedin:hover{
  color:#0C7CB6;
}
.made-with{
  color:white;
}
